$small-width: 36rem;
$medium-width: 48rem;
$large-width: 62rem;
$extra-large-width: 75rem;
$extra-extra-large-width: 87.5rem;

$hue-value-1: 0;
$hue-value-2: 230;
$main-color: hsl($hue-value-1, 74%, 61%);
$button-hover-color: hsl($hue-value-1, 57%, 53%);
$body-bg-color: hsl($hue-value-1, 63%, 97%);
$border-color-2: hsl($hue-value-1, 40%, 93%);
$shadow: 0 0 10px hsl($hue-value-1, 40%, 90%);
$body-gradient-bg-color-1: hsl($hue-value-1, 100%, 50%, 0.2);
$body-gradient-bg-color-2: hsl($hue-value-2, 100%, 50%, 0.2);
$decoration-bg-color-1: hsl($hue-value-1, 100%, 70%);
$decoration-bg-color-2: hsl($hue-value-2, 100%, 70%);
$orange: hsl(36, 80%, 50%);
$white: hsl(0, 0%, 100%);
$WHITE: hsl(0, 0%, 100%);
$BLACK: hsl(0, 0%, 0%);
$black-90: hsl(0, 0%, 10%);
$black-70: hsl(0, 0%, 30%);
$black-alpha-40: hsla(0, 0%, 0%, 0.4);
$yellow-light: hsl(44, 95%, 83%);
$green-light: hsl(158, 68%, 75%);
$red-light: hsl(0, 84%, 80%);
$orange-light: hsl(22, 85%, 80%);
$select-box-bg-color: hsl(0, 0%, 100%);
$border-color-1: hsl(0, 0%, 90%);

