
@import './var';

:root{
  --hue-value-1: 0;
  --hue-value-2: 230;
  --main-color: hsl(var(--hue-value-1), 74%, 61%);
  --button-hover-color: hsl(var(--hue-value-1), 57%, 53%);
  --body-bg-color: hsl(var(--hue-value-1), 63%, 97%);
  --border-color-2: hsl(var(--hue-value-1), 40%, 93%);
  --shadow: 0 0 10px hsl(var(--hue-value-1), 40%, 90%);
  --body-gradient-bg-color-1: hsl(var(--hue-value-1), 100%, 50%, 0.2);
  --body-gradient-bg-color-2: hsl(var(--hue-value-2), 100%, 50%, 0.2);
  --decoration-bg-color-1: hsl(var(--hue-value-1), 100%, 70%);
  --decoration-bg-color-2: hsl(var(--hue-value-2), 100%, 70%);
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsla(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}



@font-face {
  font-family: dana;
  src: url("../assets/fonts/woff/dana-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}



@font-face {
  font-family: dana;
  src: url("../assets/fonts/eot/dana-regularitalic.eot");
  src: url("../assets/fonts/woff/dana-regularitalic.woff") format("woff"),
      url("../assets/fonts/woff2/dana-regularitalic.woff") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: dana;
  src: url("../assets/fonts/eot/dana-bold.eot");
  src: url("../assets/fonts/woff/dana-bold.woff") format("woff"),
        url("../assets/fonts/woff2/dana-bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: dana;
  src: url("../assets/fonts/eot/dana-bolditalic.eot") format("eot");
  src: url("../assets/fonts/woff/dana-bolditalic.woff") format("woff"),
       url("../assets/fonts/woff2/dana-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}

body {
  font-family: 'dana' !important;
  background-color: var(--body-bg-color) !important;
  font-size: 16px !important;
  font-weight: 400;
  color: var(--black-70) !important;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:var(--main-color) ;
  text-decoration: none !important;
  &:hover{
    color: var(--main-color) !important;
  }
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--color-90);
  line-height: 1.3;
}
h3{
  font-size: 1.25rem;
}
::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}
.row {
  direction: rtl;
}
.circular-img {
  max-width: 360px;
  margin: auto;
  position: relative;
  z-index: 1;
  &__inner{
    text-align: center;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
  }
  &__circle{
    width: 360px;
    height: 360px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
  }
  & img{
    position: relative;
    z-index: 1;
  }
}

.section-padding {
  padding: 3.75rem 0;
}
.slick-prev:before, .slick-next:before{
  color: var(--main-color) !important;
  font-size: 1.75rem;
}

.next-arrow, .prev-arrow {
  position: absolute;
  bottom: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  svg{
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    color: white;
    padding: 5px;
    border-radius: 50%;
  }
}
.prev-arrow {
  right: 26px;
}
.next-arrow {
  left: 26px;
}
.breadcrumb-item+.breadcrumb-item{
  &::before{
    float: right !important;
    padding-left: var(--bs-breadcrumb-item-padding-x);
  }

}