@import '/src/globals/var';
.login-section{
    padding-top: 0 !important;
    .login-form{
        &__title{
            font-size: 1.5rem;
            margin: 0 0 30px;
            font-weight: 600;
            text-align: center;
        }
        .form-group{

            margin-top: 1.5rem;
        }
        .form-control{
            height: 3rem;
            border-color:var(--border-color-1) !important;
            color: var(--black-90) !important;
            background-color: transparent;
            &:focus{
                box-shadow: none;
            }
            &::placeholder{
                color: var(--black-70) !important;
            }
        }
        button{
            width: 100%;
            margin-top: 1.5rem;
            height: 3rem;
        }
        p{
            margin-top: 1.5rem;
            margin-bottom: 0;
            text-align: center;
        }
    }
}
@media (max-width: $medium-width) {
    .login-form{
        &__title{
            font-size: 1.375rem !important;
        }
    }
}