@import '/src/globals/var';
.section-title {
    text-align: center;
    .title{
        font-size: 1.25rem;
        color: var(--main-color);
    }
    .sub-title{
        font-size: 2.1875rem;
        font-weight: 600;
    }
}
@media (max-width: $large-width) {
    .section-title {
        .sub-title{
            font-size: 1.875rem;
        }
    }
}
@media (max-width: $medium-width) {
    .section-title {
        .sub-title{
            font-size: 1.375rem;
        }
        .title{
            font-size: 1.125rem;
        }
    }
}