.pagination-container{
    display: flex;
    justify-content: center;
    direction: ltr;
    .page-link{
        border: none;
        background-color: transparent;
        color: var(--black-70);
        &:hover{
            background-color: var(--main-color);
            color: var(--WHITE) !important;
        }
    }
    .active>.page-link, .page-link.active {
        background-color: var(--main-color) !important;
        color: var(--WHITE) !important;
    }
}