.btn {
    font-family: 'Noto Sans JP', sans-serif;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
    background-color: var(--main-color) !important;
    min-width: 81px;
    min-height: 36px;
    border-radius: 6px !important;
    font-size: 1rem !important;
    padding: 8px 20px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover{
        border-color: transparent;
        color: var(--WHITE) !important;
        background-color: var(--button-hover-color) !important;
        transition: all 0.3s ease;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 8px var(--main-color);
    }
  }
  
  
  .default {
    color: #3f3f3f;
    background-color: #e0e0e0;
  }
  
  .outline {
    border: 1px solid #3d5afe !important;
    color: #3d5afe;
    background-color: transparent;
  }
  
  .outline:hover {
    background-color: rgba(41, 98, 255, 0.1);
  }
  
  .text {
    color: #3d5afe;
    background-color: transparent;
    &:hover {
        background-color: rgba(41, 98, 255, 0.1);
      }
  }
  
  
  .disabled {
    opacity: 1 !important;
    cursor: not-allowed;
  }
  
  .icon-start {
    margin-right: 0.5rem;
  }
  .icon-end {
    margin-left: 0.5rem;
  }
  .small {
    font-size: 12px;
    padding: 4px 6px;
  }
  
  .medium {
    font-size: 14px;
    padding: 8px 15px;
  }
  
  .large {
    font-size: 16px;
    padding: 12px 20px;
  }
  
  .oval {
    border-radius: 4px;
  }
  
  .rectangular {
    border-radius: 0;
  }
  
  .shadow {
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  }
  
  .text-primary {
    color: #3d5afe;
  }
  .text-default {
    color: var(--black-70);
  }
  .text-white {
    color: #fff;
  }
  .bg-main {
    background-color: var(--main-color);
  }
  .bg-default {
    background-color: #e0e0e0;
  }
  .bg-primary {
    background-color: #2962ff;
  }
  .bg-secondary {
    background-color: #455a64;
  }
  .bg-danger {
    background-color: #d32f2f;
  }