.course-details-tab-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.875rem 0;
    :first-child{
        margin-right: 0;
    }
    button{
        margin-right: 1rem;
    }

}