.courses-item {
    margin-bottom: 1.875rem;
    position: relative;
    .img-box {
        img{
            width: 100%;
            border-radius: 5px;
        }
    }
    .link {
        color: var(--black-70);
        display: inline-block;
    }
    .title {
        margin: 1rem 0;
        transition: color 0.3s ease;
    }
    &:hover {
        .title {
            color: var(--main-color);
        }
    }
    .instructor {
        margin: 0 0 12px;
        img{
            width: 30px;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    .rating {
            font-size: 0.875rem;
    }
    .average-rating {
        font-weight: 600;
        color:var(--orange);
    }
    .average-stars {
        svg {
            color: var(--orange)
        }
    }
    .price, .category{
        position:absolute;  
        top: 1rem;
        background-color: var(--main-color);
        color: var(--WHITE);     
        border-radius: 4px;
    }
    .price{
        right: 1rem;
        padding: 4px 8px;
        font-weight: 600;
    }
    .category{
        left: 1rem;
        font-size: 10px;
        padding: 2px 4px;
    }
}