@import '/src/globals/var';
.course-comments{
    .average-rating{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--black-90);
    }
    .average-stars{
        color: var(--orange);
    }
}
@media (max-width: $medium-width) {
    .rating-box{
        margin-bottom: 15px;
    }
    .rating-summary{
        margin-bottom: 15px;
    }
}