@import '/src/globals/var';
.header {
    border-bottom: 1px solid var(--border-color-2);
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    &__logo{
        > a {
            font-size: 1.625rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--black-70) !important;
            transition: color 0.3s ease;
            > span {
                color: var(--main-color);
            }
        } 
    }
}

.header__backdrop,
.header__close-btn,
.header__hamburger-btn {
    display: none;
}

@media (max-width: $large-width) {
  .header{
      padding: 12px 0;
      &__close-btn{
        display: block;
        width: 40px;
        height: 40px;
        background-color: var(--main-color);
        position: absolute;
        right: 15px;
        top: 15px;
        color: var(--WHITE);
        border:0;
        border-radius: 5px;
        cursor: pointer;
    }
    &__hamburger-btn{
        display: block;
        width: 40px;
        height: 34px;
        cursor: pointer;
        border:0;
        background-color: transparent;
        span{
            display: block;
            height: 2px;
            width: 24px;
            background-color: var(--black-90);
            position: relative;
            margin: auto;
            &::after,&::before{
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--black-90);
            }
            &::before{
                top: -7px;
            }
            &::after{
                top: 7px;
            }
        }
    }
    &__menu{
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        right: -300px;
        z-index: 1000;
        padding: 70px 0 50px;
        transition: all 0.5s ease;
        background-color: var(--white);
        box-shadow: var(--shadow);
        overflow-y: auto;
        visibility: hidden;
        &.open{
            right: -15px;
            visibility: visible;
        }
    }
    &__backdrop{
        display: block;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        visibility: hidden;
        background-color: var(--white);
        &.active{
            visibility: visible;
            opacity: 0.8;
        }
    }
  }
  
}

@media (max-width: $small-width) {
    .header{
        &__logo{
            a{
                font-size: 1.375rem;
            }
        }
    }
}