.header {
    border-bottom: 1px solid var(--border-color-2);
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    &__logo{
        > a {
            font-size: 1.625rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--black-70) !important;
            transition: color 0.3s ease;
            > span {
                color: var(--main-color);
            }
        } 
    }
}

.header__backdrop,
.header__close-btn,
.header__hamburger-btn {
    display: none;
}